body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  font-family: 'barlow', sans-serif;
  height: 4000px;
}

input[type=checkbox]{
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type=checkbox]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banner-1{
  background-image: url(./assets/banner-1.png);
}

.banner-2{
  background-image: url(./assets/banner-2.png);
}

.banner-3{
  background-image: url(./assets/banner-3.png);
}

.banners{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulo{
  --bs-bg-opacity: .2;
}


.botao-padrao {
  background-color: var(--marrom-claro);
  color:black;
}

.botao-padrao:hover {
  background-color: var(--marrom-escuro);
}

.input-range::-webkit-slider-thumb{
    -webkit-appearance: none; /* Remove o estilo padrão do navegador */
  appearance: none;
  width: 20px; /* Largura do polegar */
  height: 20px; /* Altura do polegar */
  background-color: var(--marrom-claro); /* Usa a variável --marrom-claro */
  cursor: pointer; /* Muda o cursor para "mãozinha" */
  border-radius: 30%; /* Formato circular */
  margin-top: -6px; /* Ajusta a posição vertical para centralizar na trilha */
}
